ess
license.txt
readme.html

wp-admin
wp-content/languages
wp-content/plugins
wp-includes

wp-config-sample.php
wp-cron.php
wp-load.php
wp-settings.php
wp-blog-header.php
wp-config.php
wp-login.php
wp-signup.php
index.php
xmlrpc.php
wp-activate.php
wp-comments-post.php
wp-links-opml.php
wp-mail.php
wp-trackback.php
