ess
license.txt
.htaccess
.DS_Store

wp-admin
wp-content/languages
wp-content/themes/twentyfifteen
wp-content/themes/twentyseventeen
wp-content/themes/twentysixteen
!/wp-content/themes/ametrineincMain/index.php
/wp-content/themes/ametrineincMain/dist/index.html
!/wp-content/themes/ametrineincMain/dist/bundle.js
!/wp-content/themes/ametrineincMain/dist/style.css
wp-includes

wp-config-sample.php
wp-cron.php
wp-load.php
wp-settings.php
wp-blog-header.php
wp-login.php
wp-signup.php
/index.php
xmlrpc.php
wp-activate.php
wp-comments-post.php
wp-links-opml.php
wp-mail.php
wp-trackback.php
